/* GENERALES */
* {
    box-sizing: border-box;
}

html {
    background-color: #a8a8a8;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    max-width: 815px;
    /* margin: 30px auto; */
    margin: 60px auto;
    box-shadow: 12px 11px 13px -4px rgba(0,0,0,0.47);
    background: #fff;

    
}

footer img {
    max-width: 100%;
}
