/** GLOBALES **/

:root {
    --color-lightblue: #1d75de;
    --color-black: #000000;
    --color-gray: #efefef;
    --color-gray2: #919496;
    --color-darkergray: #222326;
    --color-white: #ffffff;
    --color-green: #1ed760;
}



*, *:before, *:after {
    box-sizing: inherit;
  }

html {
    font-size: 62.5%;
    box-sizing: border-box;  /* Box Model Hack */
    scroll-snap-type: y mandatory;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: circular;
    
}

/** NAVEGACION **/
.nav {
    background-color: #000;
}

.nav--desktop {
    display: none;
    max-width: 97rem;
    height:  8rem;
    margin: 0 auto;
    
}

.nav--mobile {
    max-width: 75rem;
    height:  5.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}

.nav__logo--mobile svg {
    height: 2.8rem;
    fill: #fff;
}

.nav__burger--mobile i {
    color: white;
    font-size: 3rem;
}

/** BANNER **/

.banner {
    background-color: var(--color-lightblue);
}

.banner__content {
    height: auto;
    max-width: 100%;
    background: var(--color-lightblue);
    padding: 2.4rem 1.5rem;
    color: var(--color-white);
}

.banner__header {
    height: 9.2rem;
    font-size: calc(24px + 4.2 * ((100vw - 320px) / 160));
    font-weight: 900;
    line-height: 1.2;
    display: inline-block;
}

.banner__text {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 1.5rem;
    line-height: 1.5;
}

.banner__text--small {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
}

.banner__link {
    color: var(--color-white);
}

/** BOTONES **/

.button_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0 4rem 0;
    height: 11.4rem;
    
}

.button--black,
.button--transparent,
.plans__button--black {
    padding: 1.6rem 3.2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-white);
    border-radius: 50rem;
    width: 100%;
    transition: transform 0.1s;
}

.button--black,
.plans__button--black {
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
}

.button--transparent {
    border: 2px solid var(--color-white);
    background: var(--color-lightblue);

}

.button--black:hover,
.plans__button--black:hover  {
    transform: scale(1.04);
    background-color: var(--color-black);
}

.button--transparent:hover {
    transform: scale(1.04);
    background: var(--color-lightblue);
}

.button--black:focus,
.plans__button--black:focus {

    outline: .3rem solid var(--color-black);
    outline-offset: .3rem;
}

.button--transparent:focus {
    outline: .2rem solid var(--color-white);
    outline-offset: .3rem;
}

/** BENEFICIOS **/

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 1.5rem;
}

.benefits__header {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 3.2rem;
}

.benefits__card {
    display: flex;
    align-items: flex-start;
    width: 38.2rem;
    height: 14.2rem;
    margin-bottom: 2rem;
}

.benefits__icon {
    width: 9.8rem;
    margin-right: 2rem;
}

.benefits__icon img {
    width: 100%;
}

.benefits__description {
    padding: 1.6rem 0;
}

.benefits__title {
    font-size: 2.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 2.7rem;
}

.benefits__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/** PLANES DE SUBSCRIPCION **/

.plans {
    padding: 3.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    align-items: center;
}

.plans__header {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 3.2rem;
}
.plans__text {
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem 0 6.6rem;
    line-height: 2rem;
}

.plans__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans__card {
    background: var(--color-white);
    padding: 2rem;
    margin-bottom: 1.6rem;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;;
    border-radius: 1rem;
    width: 44rem;
}

.plans__freemonth {
    background-color: var(--color-lightblue);
    color: var(--color-white);
    padding: .6rem .8rem;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 900;
    border-radius: .4rem;
    margin-bottom: 1rem;
}

.plans__name {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.plans__description {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
    line-height: 2.2rem;
}

.plans__accounts {
    margin-bottom: 2rem;
    line-height: 2.2rem;
}

.plans__separator {
    height: 0.2rem;
}

.plans__benefitslist {
    margin: 3.2rem 0 1.6rem;
}

.plans__benefit {
    display: flex;
    margin-bottom: .5rem;
}

.plans__benefit p {
    line-height: 2.2rem;
    font-size: 1.6rem;
}

.plans__benefit svg {
    height: 2.4rem;
    min-width: 2.4rem;
    margin-right: 1rem;
}

.plans__disclaimer {
    font-size: 1.2rem;
    width: 300;
    line-height: 1.6rem;
    margin-top: 1.6rem;
}

.plans__disclaimer:last-child{
    margin-top: 0;
}

.plans__disclaimer a {
    color: #535353;
}

/** FOOTER **/
.footer {
    background-color: var(--color-black);
    padding: 5rem 1.5rem 2rem;
}

.footer_content {
    max-width: 75rem;
    margin: 0 auto;
}

.footer__logo svg {
    fill: var(--color-white);
    height: 2.826rem;
    width: 8.9rem;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__nav-container {
    display: flex;
    flex-direction: column;
    width: 22rem;
    
}

.footer__catlinks {
    color: var(--color-gray2);
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1rem;
    line-height: 1.4;
    margin: 5rem 0 2.2rem;
}

.footer__links--nav {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    padding: .3rem 0 1.5rem;
}

.footer__links--nav:hover {
    color: var(--color-green);
}

.footer__social {
    display: flex;
    margin-top: 12rem;
    margin-bottom: 1.5rem;
}

.footer__icon {
    margin-right: 1.5rem;
    height: 4.4rem;
    min-width: 4.4rem;
    background-color: var(--color-darkergray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon i {
    font-size: 2.2rem;
    color: var(--color-white);
}

.footer__country {
    display: flex;
    justify-content: flex-end;
}

.footer__country a {
    color: var(--color-gray2);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .1rem;
    align-self: baseline;
}
.footer__country a:hover {
    color: var(--color-green);
}

.footer__country i {
    margin-right: .8rem;
    font-size: 1.2rem;
    color: var(--color-gray2);
}

.footer__legal {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.footer__nav--legal {
    margin-right: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    min-width: 13rem;
}

.footer__links--legal {
    color: var(--color-gray2);
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem 2.4rem 1rem 0;
    min-width: fit-content;
}

.footer__links--legal:hover {
    color: var(--color-green);
}

.footer__copyright {
    min-width: 8.502rem;
    color: var(--color-gray2);
    font-size: 1rem;
    margin: 1rem 0
}

@media screen AND (min-width: 768px) {

    .banner__content {
        margin: 0 auto;
        max-width: 75rem;
    }

    .banner__header {
        font-size: 4rem;
    }
    
    .banner__text {
        font-size: 2.4rem;
        margin-top: 3rem;
    }

    .button_container {
        margin: 3.5rem 0 4rem 0;
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
    }

    .button--black,
    .button--transparent {
        height: 5.2rem;
        width: 15.2rem;
        padding: 1.6rem 2.9rem;
        margin-right: .8rem;
    }

    .benefits {
        width: 75rem;
        margin: 0 auto;
        padding: 7.5rem 1.5rem;
    }

    .benefits__header {
        font-size: 4rem;
        margin-bottom: 7.2rem;
    }
    
    .benefits__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .benefits__card {
        width: 36rem;
    }

    .plans {
        padding: 7.5rem 1.5rem;
    }

    .footer__content {
        max-width: 75rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .footer__nav {
        display: flex;
        flex-direction: row;
    }

    .footer__nav-container {
        padding-right: 3rem;
    }

    .footer__country a,
    .footer__copyright,
    .footer__links--legal {
        font-size: 1.2rem;
    }

    .footer__country i {
        font-size: 1.2rem;
    }

}

@media screen AND (min-width: 992px) {
    .nav--mobile {
        display: none;
    }
    .nav--desktop {
        display: flex;
        justify-content: space-between;
        max-width: 97rem;
        margin: 0 auto;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
    }

    .nav__logo--desktop svg {
        fill: var(--color-white);
        width: 13.2rem;
        height: 4.19rem;
    }
    
    .nav__links--desktop {
        display: flex;
        align-items: center;
    }

    .nav__links--desktop a {
        color: var(--color-white);
        text-decoration: none;
        padding: 2.8rem 1.7rem;
    }

    .nav__links--desktop a:hover {
        color: var(--color-green);
    }

    .nav__links--desktop li[role="separator"] {
        padding: 3.2rem 1.7rem;
        color: var(--color-white);
        font-weight: 300;
    }
    
    .banner__content {
        margin: 0 auto;
        min-width: 97rem;
    }

    .benefits {
        width: 97rem;
    }

    .benefits__card {
        width: 47rem;
    }

    .footer {
        padding: 8rem ;
    }

    .footer__content {
        max-width: 97rem;
    }

    .footer__content--nav {
        display: flex;
    }

    .footer__logo {
        width: 16.167rem;
    }

    .footer__logo svg {
        height: 4.19rem;
        width: 13.2rem;
    }

    .footer__catlinks {
        color: var(--color-gray2);
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .1rem;
        line-height: 1.4;
        margin: 2rem 0;
    }
    
    .footer__nav-container {
        width: 16.167rem;
        height: 34.6rem;
        padding: 0 1.5rem;
    }

    .footer__social {
        align-self: flex-start;
        margin: 2rem 0 0 auto;
    }

    .footer__icon {

        height: 5.4rem;
        min-width: 5.4rem;
    }
}

@media screen AND (min-width: 1200px) {
    .nav--mobile {
        display: none;
    }
    .nav--desktop {
        max-width: 117rem;
    }
    
    .banner__content {
        margin: 0 auto;
        min-width: 117rem;
        padding: 2.4rem 1.5rem 4rem;
    }

    .benefits {
        min-width: 117rem;
    }

    .benefits__header {
        line-height: 4.6rem;
    }

    .benefits__container {
        min-width: 100%;
        flex-wrap: nowrap;
    }

    .benefits__card {
        flex-direction: column;
        align-items: center;
        width: 28.5rem;
        height: 28.658rem;
        margin-bottom: 2rem;
    }
    
    .benefits__icon {
        width: 14.2rem;
        margin: 0;
    }
    

    .benefits__description {
        padding: 4rem 0 1.6rem;
    }
    
    .benefits__title {
        text-align: center;
    }
    
    .benefits__text {
        text-align: center;
    }

    .plans__list {
        flex-direction: row;
        margin-bottom: 2.6rem;
    }

    .plans__card {
        width: 36.4rem;
        padding: 1.6rem;
        margin-right: 1.6rem;
    }

    .plans__card:last-child {
        margin-right: 0;
    }

    .plans__benefitslist {
        height: 13.2rem;
        margin: 3.2rem 0 1.6rem;
    }

    .footer {
        padding: 8rem 0 5rem;
    }

    .footer__content {
        max-width: 117rem;
    }

    .footer__content--nav {
        display: flex;
    }

    .footer__logo {
        width: 16.167rem;
    }

    .footer__logo svg {
        height: 4.19rem;
        width: 13.2rem;
    }

    .footer__catlinks {
        color: var(--color-gray2);
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .1rem;
        line-height: 1.4;
        margin: 2rem 0;
    }
    
    .footer__nav-container {
        width: 19.5rem;
        height: 34.6rem;
        padding: 0 1.5rem;
    }

    .footer__social {
        align-self: flex-start;
        margin: 2rem 0 0 auto;
    }

    .footer__icon {

        height: 5.4rem;
        min-width: 5.4rem;
    }
}
