* {
    box-sizing: border-box;
}
html {
    font-family: 'Nunito', sans-serif;

}
#sct-registro {
    display: flex;
    justify-content: center;
    align-items: center;
}
#frm-registro {
    width: 30%;
    border: 2px solid purple;
    padding: 2%;
    border-radius: 10px;
}
#frm-registro .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#frm-registro .fila .columna {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#frm-registro .fila .columna-2 {
    display: flex;
    flex-direction: column;
    width: calc((100%/2.1) - 20px);
}
#frm-registro .fila .columna-3 {
    display: flex;
    flex-direction: column;
    width: calc(100%/3.1);
}

#frm-registro label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#frm-registro input, #frm-registro select {
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    color: #686767;
    height: 35px;
    vertical-align: bottom;
    outline: none;
    padding-left: 10px;
}

#frm-registro header {
    background-color: #f9f2fa;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 50px;
    margin-bottom: 15px;
}

.btn-morado {
    background: #A46B9F;
    color: #fff;
    height: 40px;
    border: 1px solid #A46B9F;
    border-radius: 5px;
}

.btn-morado:hover {
    background: #a46b9fab;
    cursor: pointer;
}