#frm-registro {
    width: 45%;
    border: 2px solid purple;
}
#frm-registro .fila {
    display: flex;
    justify-content: space-between;
}
#frm-registro .fila .columna {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#frm-registro .fila .columna-2 {
    display: flex;
    flex-direction: column;
    width: calc((100%/2.1) - 20px);
}
#frm-registro .fila .columna-3 {
    display: flex;
    flex-direction: column;
    width: calc(100%/3.1);
}