* {
    box-sizing: border-box;
}
.caja {
    border: 2px solid #000;
    height: 30px;
    width: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}
.blue-martina {
    background:#12CBC4;
}
.mediterranean-sea {
 background: #1289A7;
}
.merchant-marine-blue {
    background: #0652DD;
}
.leagues-under-the-sea {
    background: #1B1464;
}

.dark-blue {
    background: #08061d;
}

#sct-contenedor {
    background-color: darkgray;
    border: 5px solid rgb(39, 39, 39);
    display: flex;
    flex-direction: column
    .;
    height: 700px;
}
